// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.co
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.underline {
  border-bottom: thin solid black;
}

.blog {
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  h2 {
    padding: 0px 0 5px 0;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: red;
    }
  }
}

h5 {
  letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
}

body {
  font-family: 'Della Respira', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

.date-name {
  font-size: 12px;
}



/* blog show

Georgia,Cambria,"Times New Roman",Times,serif;

*/
