<div class="container">
  <div class="row">
   <div class="col-xs-8 col-sm-8 col-md-8 col-md-push-2">
     <h4>
       <span>
         <%#-- <%= @post.title %> 
       </span>
     </h4>
    </div>
    <div class="col-xs-4 col-sm-4 col-sm-pull-2">
      <h4 style="float: right;">
        <span>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <%= Faker::Number.number(3) %> |
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
        </span>
      </h4>
    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- container -->

<div class = "jumbotron">
</div>
